.menu{
  color: white;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 150px;
  top:40%;
}

.logout{
  color: red;
}

li{
  cursor: pointer;
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

div img{
  cursor: pointer;
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #003366;
}

.username-list{
  background: #bbbbbb;
  cursor:auto;
  text-align: center;
  color: white;

}
.username{
  font-weight: bold;
}




