<div class="header" >
  <img src="./assets/logo-jhipster.png" alt="Easier Logo" (click)="home()">

    <ul class="menu">
      <li >
        <a class="nav-link dropdown-toggle" role="button"  aria-expanded="false"  (click)="toggleDropdown()" >
          <span class="username" *ngIf="!isSmallScreen">{{ username }}</span>
          <i class="bi bi-three-dots-vertical" *ngIf="isSmallScreen"></i>
        </a>
        <ul class="dropdown-menu" [ngClass]="{ 'show': menuIsActive }" >
          <li class="username-list" *ngIf="isSmallScreen"><i class="bi bi-person-fill"></i> {{ username }}</li>
          <li><a class="dropdown-item" (click)="management();toggleDropdown()" ><i class="bi bi-person-fill-gear"></i> Manage Account</a></li>
          <li><a class="dropdown-item" (click)="toggleBoiteActive();toggleDropdown()" ><i class="bi bi-list-task"></i> View Roles</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item logout" (click)="logout();toggleDropdown()"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
        </ul>
      </li>
    </ul>

  <div class="user-icon">
    <img src="./assets/img_avatar.png" alt="User Icon" (click)="toggleDropdown()" >
  </div>
</div>
