<div class="navigation" [class.active]="isActive" >
  <ul>
    <li >
      <a  class="d-lg-flex"  style="justify-content: center" >
                        <span class="logo">
                          <img src="assets/logo-jhipster.png" alt="Logo easier" height="70">
                        </span>
      </a>
    </li>

    <li (click)="toggleHovered($event)" style=" display: flex; align-items: center; ">
      <a [routerLink]="['/home']" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span class="icon">
                          <i class="bi bi-house-door"></i>
                        </span>
        <span class="title">Home</span>
      </a>
    </li>

    <li (click)="toggleHovered($event)">
      <a [routerLink]="['/hotels']" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span class="icon">

                        </span>
        <span class="title">Hotels</span>
      </a>
    </li>

    <li (click)="toggleHovered($event)">
      <a [routerLink]="['/messages']" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span class="icon">

                        </span>
        <span class="title">Messages</span>
      </a>
    </li>

    <li (click)="toggleHovered($event)">
      <a [routerLink]="['/help']" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span class="icon">
                          <i class="bi bi-info-circle"></i>
                        </span>
        <span class="title">Help</span>
      </a>
    </li>

    <li (click)="toggleHovered($event)">
      <a [routerLink]="['/settings']" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span class="icon">
                          <i class="bi bi-gear"></i>
                        </span>
        <span class="title">Settings</span>
      </a>
    </li>

    <li (click)="toggleHovered($event)">
      <a [routerLink]="['/password']" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span class="icon">
                          <i class="bi bi-lock"></i>
                        </span>
        <span class="title">Password</span>
      </a>
    </li>

    <li (click)="toggleHovered($event)">
      <a [routerLink]="['/signOut']" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span class="icon">
                            <i class="bi bi-box-arrow-right"></i>
                        </span>
        <span class="title">Sign Out</span>
      </a>
    </li>

      <span class="nav-footer" title="Commander Version 1.2.7" >
        v1.2.7
      </span>

  </ul>

</div>


